.sign-up {
  height: fit-content;
  padding-bottom: 20px;
}

.sign-up .form {
  width: 60%;
  margin: 20px auto 0 auto;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.741);

  border: white 3px solid;
  padding: 4% 6%;
  color: white;
  border-radius: 30px;
}
