/* Banner full màn hình */
.banner {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.banner .container {
  padding: 0;
}

/* Slick list & track */
.banner .slick-list {
  width: 100%;
  height: 100%;
}

.banner .slick-track {
  display: flex !important; /* slides nằm 1 hàng */
  height: 100%;
}

/* Slide */
.banner .slide {
  flex: 0 0 100% !important; /* mỗi slide chiếm 100% width */
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100% !important;
}

/* Ảnh full */
.banner .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* cover slide, không méo */
}

/* Nút Prev/Next */
.banner .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  display: block !important;
  /* background: rgba(0, 0, 0, 0.5); */
  color: rgb(63, 63, 63);
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}
.banner .slick-arrow:hover {
  background: transparent !important;
}
.banner .slick-prev {
  /* background: transparent !important; */
  left: 20px;
}
.banner .slick-next {
  right: 20px;
}

/* Card */

.single-line-ellipsis {
  white-space: nowrap;

  overflow: hidden;

  text-overflow: ellipsis;
}

.card-movie {
  position: relative;
}

.trailer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.47);
  transition: opacity 0.3s ease;
  cursor: pointer;

  z-index: 10;
}

.card:hover .trailer-overlay {
  opacity: 1;
}

.play-icon {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);

  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.412);
  z-index: 15;
}

/* MOvie Section */
.movie-section {
  background: linear-gradient(225deg, #007bff56, #dc354651);
  padding: 45px;
}

.nameCinema {
  margin-bottom: 30px;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
}

.nameCinema img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: rgba(190, 190, 190, 0.41) 1px solid;
  margin-bottom: 5px;
  background-color: white;
}

.card-rap {
  color: white;
  text-align: center;
  border: white 1px solid;
  border-radius: 20px;
  cursor: pointer;
}

.card-rap:hover {
  text-shadow: 0 0 2px #ffffff, 0 0 5px #00f0ff, 0 0 10px #00f0ff,
    0 0 20px #00f0ff50;
  box-shadow: 0 0 2px #ffffff, 0 0 5px #00f0ff, 0 0 10px #00f0ff,
    0 0 20px #00f0ff50;
}

.img-movie-time {
  width: 140px;
  height: 170px;
  border-radius: 10px 0 0 10px;
}

.movie-and-time .container div {
  display: flex;
}

.movie-range {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

.movie-wrap-has-time {
  margin-top: 50px;
  width: 80%;
}

.movie-and-time div {
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  width: 100%;
}

.time-schedule {
  color: #005d63;
}

/* Lịch */
.title-movie {
  display: flex;
  flex-direction: column;
}
.title-movie {
  padding: 10px 20px 10px 20px;
}
.title-movie h3 {
  color: #4c6ef5;
  font-weight: 700;
  margin-bottom: 20px;
}

.wrap-time-box {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 10px;
}

/* Mỗi item = 1/6 hàng */
.time-item {
  flex: 0 0 calc(16.66% - 12px); /* 6 item 1 hàng */
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #3b5bdb, #7048e8); /* xanh → tím */
  color: white;
  padding: 14px 10px;
  border-radius: 10px;
  text-align: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: 0.25s ease;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.time-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 18px rgba(80, 40, 200, 0.25);

  background: linear-gradient(145deg, #4c6ef5, #845ef7);
  z-index: 20;
  position: relative;
}
.wrap-time-box:hover .slick-list {
  overflow: visible !important;
}

.time-box .date {
  font-size: 18px;
  font-weight: 700;
  /* opacity: 0.9; */
  margin-bottom: 4px;
  color: #ffffffdb;
  background-color: transparent;
  text-shadow: 0 4px 12px rgb(72, 72, 72);
}

.time-box .hour {
  font-size: 18px;
  font-weight: 700;
  color: #ffffffdb;
  background-color: transparent;
  text-shadow: 0 4px 12px rgb(72, 72, 72);
}

.time-box .date,
.time-box .hour {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slick-slider div .time-item .time-box {
  width: 120px;
}

.slick-list {
  height: 80px;
}

/* .slick-slide {
  position: relative;
} */
