/* Banner full màn hình */
.banner {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.banner .container {
  padding: 0;
}

/* Slick list & track */
.banner .slick-list {
  width: 100%;
  height: 100%;
}

.banner .slick-track {
  display: flex !important; /* slides nằm 1 hàng */
  height: 100%;
}

/* Slide */
.banner .slide {
  flex: 0 0 100% !important; /* mỗi slide chiếm 100% width */
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100% !important;
}

/* Ảnh full */
.banner .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* cover slide, không méo */
}

/* Nút Prev/Next */
.banner .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  display: block !important;
  /* background: rgba(0, 0, 0, 0.5); */
  color: rgb(63, 63, 63);
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}
.banner .slick-arrow:hover {
  background: transparent !important;
}
.banner .slick-prev {
  /* background: transparent !important; */
  left: 20px;
}
.banner .slick-next {
  right: 20px;
}

/* Card */

.single-line-ellipsis {
  white-space: nowrap;

  overflow: hidden;

  text-overflow: ellipsis;
}

.card-movie {
  position: relative;
}

.trailer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.47);
  transition: opacity 0.3s ease;
  cursor: pointer;

  z-index: 10;
}

.card:hover .trailer-overlay {
  opacity: 1;
}

.play-icon {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);

  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.412);
  z-index: 15;
}

/* MOvie Section */
.movie-section {
  background: linear-gradient(225deg, #007bff56, #dc354651);
  padding: 45px;
}

.nameCinema {
  margin-bottom: 30px;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
}

.nameCinema img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: rgba(190, 190, 190, 0.41) 1px solid;
  margin-bottom: 5px;
  background-color: white;
}

.card-rap {
  color: white;
  text-align: center;
  border: white 1px solid;
  border-radius: 20px;
  cursor: pointer;
}

.title-rap {
  background-color: black;
  color: white;
  border-color: white;
}

.card-rap:hover {
  text-shadow: 0 0 2px #ffffff, 0 0 5px #00f0ff, 0 0 10px #00f0ff,
    0 0 20px #00f0ff50;
  box-shadow: 0 0 2px #ffffff, 0 0 5px #00f0ff, 0 0 10px #00f0ff,
    0 0 20px #00f0ff50;
}

.img-movie-time {
  width: 140px;
  height: 170px;
  border-radius: 10px 0 0 10px;
}

.movie-and-time .container div {
  display: flex;
}

.movie-range {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

.movie-wrap-has-time {
  margin-top: 50px;
}

.movie-and-time div {
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  width: 100%;
}
