/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.504);
  color: #fff;
  z-index: 5;
}
.header .logo {
  font-size: 40px;
  color: white;
  font-weight: 700;
  transition: 0.3s ease;
}

.header .logo:hover {
  text-shadow: 0 0 2px #ffffff, 0 0 5px #00f0ff, 0 0 10px #00f0ff,
    0 0 20px #00f0ff50;
}

.header .logo div {
  background-color: #ff320e;
  color: rgb(255, 255, 255);
  display: inline-block;
  width: 50px;
  text-align: center;
  rotate: 8deg;
  border-radius: 8px;
  font-size: 45px;
  padding-right: 7px;
}
.nav a {
  margin-left: 25px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s ease;
  padding: 8px;
  border-radius: 10px;
}

.nav a:hover {
  color: #fff;
  box-shadow: 0 0 5px #ff4d2e, 0 0 10px #ff4d2e, 0 0 20px #ff4d2e,
    0 0 40px #ff944d, 0 0 80px #ff944d;
  border-radius: 10px;
  padding: 8px;
}

.nav a.active {
  color: rgb(255, 43, 43);
  font-weight: 600;
  text-shadow: 0 0 5px #ff4d2e, 0 0 10px #ff4d2e;
}

/* MainLayout */
.outlet {
  background-color: rgb(0, 0, 37);
  /* height: 100vh; */
  /* position: relative; */
  z-index: 0;
  padding-top: 100px;
}
/* 
.outlet::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000051;
  position: absolute;
  z-index: 1;
} */

/* Footer */

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer .footer-content {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.footer .footer-item {
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #6c757d;
  text-decoration: none;
  transition: 0.2s;
}
